splunkObservability:
  realm: us1

secret:
  create: false
  name: "splunk-secret"
  # Specifies whether secret provided by user should be validated.
  validateSecret: true

clusterName: gateway-test

# enable OTLP token passthrough, to allow the collector to forward the
# authentication token received from the client, OTEL agent or
# instrumented application, to the backend services
agent:
  config:
    receivers:
      kubeletstats:
        insecure_skip_verify: true
      otlp:
        protocols:
          grpc:
            include_metadata: true
          http:
            include_metadata: true
    service:
      pipelines:
        metrics/agent:
          exporters:
            - otlp
        metrics/histograms:
          exporters:
            - otlp


clusterReceiver:
  config:
    extensions:
      headers_setter:
        headers:
          - action: upsert
            default_value: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
            from_context: X-SF-TOKEN
            key: X-SF-TOKEN
    exporters:
      otlp:
        auth:
          authenticator: headers_setter
        endpoint: splunk-otel-collector:4317
        tls:
          insecure: true
      signalfx:
        access_token: ${SPLUNK_OBSERVABILITY_ACCESS_TOKEN}
        api_url: http://splunk-otel-collector:6060
        correlation:
        ingest_url: http://splunk-otel-collector:9943
        sync_host_metadata: false
      signalfx/alternate1:
        access_token: ${SPLUNK_ACCESS_TOKEN_ALTERNATE}
        api_url: http://splunk-otel-collector:6061
        correlation:
        disable_default_translation_rules: true
        ingest_url: http://splunk-otel-collector:9944
        sync_host_metadata: false
        timeout: 10s
    receivers:
      k8s_cluster:
        metadata_exporters:
          - signalfx
          - signalfx/alternate1
    service:
      extensions:
        - health_check
        - headers_setter
      pipelines:
        logs:
          exporters:
            - otlp
        logs/objects:
          exporters:
            - otlp
        metrics:
          exporters:
            - signalfx
            - signalfx/alternate1
        metrics/collector:
          exporters:
            - otlp
  extraEnvs:
    - name: SPLUNK_PLATFORM_HEC_TOKEN_ALTERNATE
      valueFrom:
        secretKeyRef:
          name: splunk-alternate-backend
          key: splunk_platform_hec_token
    - name: SPLUNK_ACCESS_TOKEN_ALTERNATE
      valueFrom:
        secretKeyRef:
          name: splunk-alternate-backend
          key: splunk_observability_access_token

gateway:
  enabled: true
  replicaCount: 1
  config:
    extensions:
      headers_setter/alternate1:
        headers:
          - action: upsert
            default_value: ${SPLUNK_ACCESS_TOKEN_ALTERNATE}
            from_context: X-SF-TOKEN
            key: X-SF-TOKEN
      http_forwarder/signalfx:
        ingress:
          endpoint: "${SPLUNK_LISTEN_INTERFACE}:9943"
          # Whether to propagate the client metadata from the incoming requests to the backend.
          # Should be enabled to preserve incoming access token
          # include_metadata: true
        egress:
          endpoint: "https://ingest.us1.signalfx.com"
      http_forwarder/alternate1:
        ingress:
          endpoint: "${SPLUNK_LISTEN_INTERFACE}:6061"
        egress:
          endpoint: "https://api.eu0.signalfx.com"
      http_forwarder/signalfx_alternate1:
        ingress:
          endpoint: "${SPLUNK_LISTEN_INTERFACE}:9944"
          # Whether to propagate the client metadata from the incoming requests to the backend.
          # Should be enabled to preserve incoming access token
          # include_metadata: true
        egress:
          endpoint: "https://ingest.eu0.signalfx.com"
    exporters:
      otlphttp/alternate1:
        auth:
          authenticator: headers_setter/alternate1
        metrics_endpoint: "https://ingest.eu0.signalfx.com/v2/datapoint/otlp"
        sending_queue:
          num_consumers: 32
        traces_endpoint: "https://ingest.eu0.signalfx.com/v2/trace/otlp"
      otlphttp/entities_alternate1:
        auth:
          authenticator: headers_setter/alternate1
        logs_endpoint: "https://ingest.eu0.signalfx.com/v3/event"
      signalfx/alternate1:
        access_token: ${SPLUNK_ACCESS_TOKEN_ALTERNATE}
        access_token_passthrough: false
        api_url: "https://api.eu0.signalfx.com"
        ingest_url: "https://ingest.eu0.signalfx.com"
        sending_queue:
          num_consumers: 32
      splunk_hec/platform_logs_alternate1:
        disable_compression: true
        endpoint: "https://http-inputs-o11y-workshop-eu0.splunkcloud.com:443/services/collector/event"
        idle_conn_timeout: 10s
        index: ai-pods
        max_idle_conns: 200
        max_idle_conns_per_host: 200
        profiling_data_enabled: false
        retry_on_failure:
          enabled: true
          initial_interval: 5s
          max_elapsed_time: 300s
          max_interval: 30s
        sending_queue:
          enabled: true
          num_consumers: 10
          queue_size: 1000
        source: kubernetes
        splunk_app_name: splunk-otel-collector
        splunk_app_version: 0.140.0
        timeout: 10s
        tls:
          insecure_skip_verify: false
        token: ${SPLUNK_PLATFORM_HEC_TOKEN_ALTERNATE}
    service:
      extensions:
        - health_check
        - headers_setter
        - zpages
        - http_forwarder
        - http_forwarder/alternate1
        - http_forwarder/signalfx_alternate1
        - headers_setter/alternate1
      pipelines:
        logs:
          exporters:
            - splunk_hec/platform_logs
            - splunk_hec/platform_logs_alternate1
        logs/entities:
          exporters:
            - otlphttp/entities
            - otlphttp/entities_alternate1
        logs/signalfx-events:
          exporters:
            - signalfx
            - signalfx/alternate1
        metrics:
          exporters:
            - signalfx
            - signalfx/alternate1
        metrics/collector:
          exporters:
            - signalfx
            - signalfx/alternate1
        traces:
          exporters:
            - otlphttp
            - signalfx
            - otlphttp/alternate1
            - signalfx/alternate1
  ports:
    signalfx-alt1:
      containerPort: 9944
      protocol: TCP
      # SignalFx metrics enabled in gateway for all telemetry types since there may be
      # bundled metrics.
      enabled_for: [metrics, traces, logs]
    http-forwarder1:
      containerPort: 6061
      protocol: TCP
      # Enabled for all because SignalFx exporter will always send metadata updates when enabled.
      enabled_for: [metrics, traces, logs]
  resources:
    limits:
      cpu: 1
      # Memory limit value is used as a source for default memory_limiter configuration
      memory: 1Gi
  extraEnvs:
    - name: SPLUNK_PLATFORM_HEC_TOKEN_ALTERNATE
      valueFrom:
        secretKeyRef:
          name: splunk-alternate-backend
          key: splunk_platform_hec_token
    - name: SPLUNK_ACCESS_TOKEN_ALTERNATE
      valueFrom:
        secretKeyRef:
          name: splunk-alternate-backend
          key: splunk_observability_access_token

splunkPlatform:
  endpoint: https://http-inputs-o11y-playground-us1.stg.splunkcloud.com:443/services/collector/event

environment: gateway-test


