# DO NOT include azure-functions-worker in this file
# The Python Worker is managed by Azure Functions platform
# Manually managing azure-functions-worker may cause unexpected issues

azure-functions

opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-http

# add this package to ensure trace context is added to logs
opentelemetry-instrumentation-logging
